.top {
  margin-top: 20px;
}

.form-wrapper {
  .row {
    span {
      flex: 1;
    }

    input {
      flex: 3;
    }
  }

  .rating {
    margin-top: 0.5rem;
  }
}

.between {
  justify-content: space-between;
}
